doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title homepage 
        style.
            body {font-family: "Gill Sans Extrabold", sans-serif} ;
    body 
        h1 welcome to my page 
        p the place to show you how to help

        block content 